$bodi_color :  #444;
$background_color: rgb(248, 232, 202);
$background-color2: rgb(252, 238, 197); /* Здравствуйте, Ulibka крупно*/
$background-color3 :rgb(253, 228, 187);

$ulibka_color : rgb(34, 34, 34);
$ulibka_color : rgb(34, 34, 34);


$new_msg_color :rgb(102, 0, 0);
$nashi_raboti :rgb(102, 0, 0);
$menu_nachalo : rgb(51,0,0);
$nashi_raboti_description : rgb(68, 68, 68);
$sablin_posl_otvet : rgb(102, 0, 0);

$msg_list_bgrnd_color1 : rgb(253, 217, 172);
$tr_bkgrnd_color : rgb(253, 228, 187); /*светлее*/

div.cat_bar
{
  background: #99abbf url(../images/theme/main_block.png) no-repeat 0 -160px;
}