@charset "UTF-8";
.mobile_on {
  visibility: hidden;
}

.responsive_menu.login {
  min-width: 16px;
  width: auto;
}

@media screen and (min-width: 240px) and (max-width: 640px) {
  /* Considering something trying to be bad boy and editing body (especially portals!) */
  body {
    min-width: 240px !important;
  }

  /* Calendar Time */
  #month_grid, #month_grid table,
#main_grid {
    float: none;
    width: 100%;
  }

  #main_grid {
    margin-left: 0 !important;
  }

  /* Load menu icons */
  .responsive_menu {
    background: url(../images/responsive_menu.png) no-repeat -5px -5px;
    height: 26px;
    width: 26px;
    display: inline-block;
  }

  .responsive_menu.admin {
    background-position: -31px -5px;
  }

  .responsive_menu.calendar {
    background-position: -57px -5px;
  }

  .responsive_menu.forum {
    background-position: -5px -31px;
  }

  .responsive_menu.help {
    background-position: -31px -31px;
  }

  .responsive_menu.home {
    background-position: -57px -31px;
  }

  .responsive_menu.login {
    background-position: -5px -57px;
  }

  .responsive_menu.logout {
    background-position: -31px -57px;
  }

  .responsive_menu.mlist {
    background-position: -57px -57px;
  }

  .responsive_menu.moderate {
    background-position: -83px -5px;
  }

  .responsive_menu.pm {
    background-position: -83px -31px;
  }

  .responsive_menu.profile {
    background-position: -83px -57px;
  }

  .responsive_menu.register {
    background-position: -5px -83px;
  }

  .responsive_menu.search {
    background-position: -31px -83px;
  }

  /* If it has more items, make some margin */
  #main_menu {
    margin: -15px 0 0 0;
  }

  .dropmenu li {
    margin: 0 0 5px 0;
  }

  /* Do not hover or show them... */
  #menu_nav .dropmenu li a.active, #menu_nav .dropmenu li a.active:hover,
#menu_nav .dropmenu li:hover, #menu_nav .dropmenu li a:hover,
#menu_nav .dropmenu li a.firstlevel:hover, #menu_nav li:hover,
#menu_nav .dropmenu li:hover, #menu_nav .dropmenu li:hover a.firstlevel,
#main_menu .dropmenu li a.active, #main_menu .dropmenu li a:hover,
#main_menu .dropmenu li:hover ul, #main_menu .dropmenu li ul {
    background: none !important;
  }

  .keyinfo h5, #messageindex .last_th {
    display: block;
  }

  .keyinfo .messageicon {
    display: none;
  }

  .bbc_img {
    max-width: 100%;
    max-height: 100%;
  }

  #forumposts .cat_bar {
    display: none;
  }

  img#upshrink {
    display: none;
  }

  .children.windowbg > a, .children.windowbg > strong {
    width: 100%;
    padding: 0 5px;
  }
}
@media screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }

  table.table_list tbody.content td.icon, table.table_list a.unreadlink, table.table_list a.collapse,
#index_common_stats {
    display: none;
  }

  .mobile_on {
    visibility: visible;
  }

  .poster li.avatar {
    display: none;
  }

  .profile {
    display: none;
  }

  #manage_boards .cat_bar {
    margin-top: 10px;
  }

  #manage_boards .windowbg {
    line-height: 3.2em;
  }

  #manage_boards ul {
    max-height: 120em;
    padding: 0 0 10px 0;
  }

  #manage_boards dd, #manage_boards dt {
    width: 100%;
  }

  #manage_boards dt {
    line-height: 1.6em;
  }

  .children.windowbg > a, .children.windowbg > strong {
    width: 100%;
    padding: 0 5px;
  }

  tr td.icon1.stickybg,
tr td.icon2.stickybg {
    padding: 0;
    display: none;
  }

  /*	Гайрат*/
  form#postmodify {
    width: calc(100vw - 5px);
  }

  #main_content_section table tbody tr td div.pagesection,
#forumposts, #moderationbuttons, .navigate_section,
.nextlinks_bottom, #display_jump_to, #footer_section,
#main_content_section table {
    width: calc(100vw - 2px);
  }

  #display_jump_to {
    padding-right: 5px;
  }

  #footer_section {
    padding: 0;
  }

  .poster {
    padding-bottom: 20px;
  }

  .profile {
    padding-top: 5px;
  }

  #main_menu {
    width: 100%;
    padding: 0.3em 0;
    margin: 0.3em 0;
  }

  #header {
    padding: 0 0.3em;
  }

  #header div.frame {
    padding: 0.3em 0;
  }

  .buttonlist ul li {
    float: left;
    border-radius: 5px;
  }

  .buttonlist ul li a.active {
    background-color: #ed9c2e;
    color: #fff;
  }

  div.ad_images_240_mobile img {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .nav_bar_inner, .top_bar_inner, .headerm_inner {
    width: 100%;
  }

  .headerm, .headerm_inner {
    height: auto;
  }

  .logo_banner {
    text-align: center;
    max-width: 640px;
  }

  .logo_banner a > img {
    max-width: 90%;
  }

  .quick_search_holder, #search_form {
    text-align: center;
    margin: 0 auto;
    float: none;
  }

  .dropmenu li {
    width: 51%;
  }

  .dropmenu li li, .dropmenu li li li {
    width: 100%;
    text-align: left;
  }

  .dropmenu li ul {
    width: 100%;
  }

  #quick_tasks li {
    height: auto !important;
    padding: 0;
    width: 100% !important;
    float: none !important;
  }

  .home_image {
    clear: both;
  }

  .poster li.avatar img {
    width: 50px !important;
    height: 50px !important;
  }

  #siteslogan, img#smflogo, .contact_info {
    display: none;
  }

  .hidden, .icon, .stats, #posting_icons, #mlist th, .icon1, .icon2 {
    display: none;
    padding: 0;
    margin: 0;
  }

  #statistics .stats {
    display: block;
  }

  #stats_left, #top_posters, #top_topics_replies, #top_topics_starter,
#stats_right, #top_boards, #top_topics_views, #most_online,
#popularposts, #popularactivity {
    width: 100%;
    float: none;
  }

  #report_post input {
    width: 95%;
    min-height: 50px;
  }

  .tborder .topic_table th.first_th {
    display: none;
  }

  #topic_icons p {
    display: block;
    width: 100%;
  }

  #menu_toggle {
    display: none;
  }

  h3.catbg #quick_search form {
    margin: 0 0 8px 0;
    padding: 0;
  }

  h3.catbg #quick_search form input {
    margin: 0 0 12px 0;
  }

  h3.catbg #quick_search form select option {
    padding: 4px;
  }

  h3.catbg #quick_search form .button_submit {
    margin: 0 3px;
  }

  #credits_page {
    padding-top: 35px;
  }

  .features_image {
    display: none;
  }

  .features_switch {
    margin: -20px 0 0 5px !important;
  }

  .features h4 {
    margin: -10px 0 0 0 !important;
    padding: 0 0 10px 0;
  }

  .features p {
    margin: 0;
    padding: 0;
    min-height: 0;
    max-height: 5.2em;
    overflow: auto;
  }

  .mark_read .buttonlist {
    float: none;
    margin: 0 auto;
  }

  .mark_read .buttonlist li {
    width: auto;
  }

  #advanced_search {
    text-align: left !important;
  }

  em.smalltext {
    display: none;
  }

  #advanced_search dt, #advanced_search dd {
    width: 100%;
    float: none;
    text-align: left;
    margin: 0;
  }

  .login dt, .login dd {
    float: none;
    text-align: left;
    width: 90%;
  }

  input.enhanced {
    display: block;
  }

  .enhanced select {
    display: block;
  }

  #advanced_search dl#search_options {
    width: 100%;
  }

  #searchform .input_text, select {
    width: 60%;
    padding: 0;
    margin-top: 2px;
  }

  .ignoreboards {
    width: 100% !important;
    float: none !important;
  }

  #searchBoardsExpand {
    overflow: hidden;
  }

  /* Since you asked nicely */
  #main_menu .dropmenu li {
    width: auto !important;
  }

  #main_menu .dropmenu span.firstlevel {
    display: none;
  }

  #main_menu span.firstlevel {
    display: none;
  }

  #main_menu .dropmenu li:hover ul {
    display: none;
  }

  #main_menu {
    margin-top: 4px;
  }

  ul.quickbuttons {
    float: left;
  }

  #poll_main {
    max-width: 95%;
  }

  #edit_poll fieldset input {
    margin-left: 10px;
    max-width: 25%;
  }

  form#postmodify .roundframe {
    padding: 10px;
  }

  .children.windowbg > a, .children.windowbg > strong {
    width: 49%;
  }

  /*table {border-spacing: 0; table-layout: fixed}*/
  td .icon1.stickybg,
td .icon2.stickybg,
td .icon1.windowbg,
td .icon2.windowbg {
    padding: 0;
    margin: 0;
    display: none;
    width: 0;
  }

  /*.subject { width : 100%;}*/
  .subject {
    width: 400px;
  }
}
@media screen and (max-width: 720px) {
  body {
    padding: 0 !important;
    min-width: 200px !important;
    max-width: 720px;
  }

  #wrapper, div#wrapper {
    width: 100% !important;
    min-width: 240px !important;
    max-width: 720px !important;
  }

  div#upper_section div.user {
    text-align: left;
    float: none !important;
    width: 100%;
    box-sizing: border-box;
  }

  div#upper_section div.user p, div#upper_section div.user p > .avatar {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin: 0 auto;
    text-align: left !important;
    padding-right: 10px;
  }

  #upper_section div.news {
    display: none;
  }

  table.table_list tbody.content td.stats, .lastpost {
    display: none;
    padding: 0;
    margin: 0;
  }

  img.icon {
    display: inline-block;
  }

  #basicinfo, #detailedinfo, .modblock_left, .modblock_right, #live_news, #supportVersionsTable {
    width: 100% !important;
    float: none;
    margin: 0 0 3px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .postarea, .moderatorbar {
    max-width: calc(100vw - 2px);
    margin: 0;
  }

  .moderatorbar {
    text-align: center;
    border: 1px solid #99a;
    max-width: 100%;
    margin: 2px;
    padding: 4px;
  }

  .poster {
    text-align: center;
    width: 100%;
    height: 42px;
    overflow: hidden;
    color: #ffffff;
  }

  .poster a:link {
    color: #222222;
  }

  .poster h4 {
    margin: 4px 0px 0px 0px;
  }

  .membergroup {
    margin: 0px;
  }

  .poster li.avatar img {
    width: 100px !important;
    height: 100px !important;
  }

  .poster li.stars, .poster li.blurb, li.postcount,
li.im_icons, li.title, li.postgroup, li.karma,
li.karma_allow, li.gender, li.custom, li.email, li.warning {
    display: none;
  }

  .login {
    width: auto !important;
  }

  dl {
    overflow: hidden !important;
  }

  /*	dd, dt
      {
          float: none !important;
          width: 100% !important;
          overflow: hidden;
          text-align: left !important;
      }*/
  .inner {
    padding: 1em 0.5em 2px 0.5em;
    margin: 0;
  }

  .signature, .attachments {
    width: 100%;
    margin: 1em 0 0;
    padding: 1em 1em 3px;
    box-sizing: border-box;
  }

  .keyinfo {
    text-align: center;
    width: 100% !important;
    background-color: var(--body_background_color_dark);
    height: 40px;
    overflow: hidden;
    margin-bottom: 1px;
    padding-top: 4px;
  }

  .buttonlist ul li {
    margin: 2px 0;
  }

  .buttonlist ul li a span {
    height: auto;
  }

  #quick_tasks li {
    height: 5em !important;
    padding: 0;
  }

  #main_admsection #basicinfo h4 {
    width: 100% !important;
  }

  #left_admsection {
    margin: 0 0 8px;
    padding: 0 0 5px;
    border-bottom: 3px solid #dbe4ef;
    float: none;
    width: 100%;
  }

  /* some dirty fix for SP :)*/
  #sp_left, #sp_right, #sp_center {
    width: 100%;
    display: block;
  }

  .children.windowbg > a, .children.windowbg > strong {
    width: 49%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  table.table_list tbody.content td.stats {
    display: none;
  }

  table.table_list tbody.content td.lastpost, .topic_table table tbody tr td.lastpost {
    width: 35% !important;
  }

  .children.windowbg > a, .children.windowbg > strong {
    width: 49%;
  }

  /* планшет Гайрат*/
  #main_content_section table tbody tr td div.pagesection,
#forumposts, #moderationbuttons, .navigate_section,
.nextlinks_bottom, #display_jump_to, #footer_section,
#main_content_section table {
    width: calc(100vw - 2px);
  }

  div.cat_bar {
    padding-left: 9px;
    overflow: auto;
    height: auto;
    margin-bottom: 1px;
    background: none;
    background-color: #FFB16D;
  }

  h4.catbg, h4.catbg2, h3.catbg, h3.catbg2, .table_list tbody.header td.catbg {
    background: none;
    background-color: #FFB16D;
    padding-right: 9px;
  }

  /* Styles for rounded headers. ------------------------------------------------------- */
  h3.catbg, h3.catbg2, h3.titlebg, h4.titlebg, h4.catbg {
    overflow: auto;
    height: auto;
    padding-top: 0.1rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  /* author and topic information */
  span#author {
    display: none;
  }
}
/* Устроства с маленьким экраном (планшеты, 768px и выше) */
@media screen and (max-width: 500px) and (orientation: portrait) {
  .children.windowbg > a, .children.windowbg > strong {
    width: 100%;
    padding: 0 5px;
  }
}

/*# sourceMappingURL=responcive2.css.map */
